@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'almost_there_numeric';
  src: url('./fonts/almost_there/almost_there_numeric.otf') format('opentype');
}

@font-face {
  font-family: 'aurek_besh';
  src: url('./fonts/aurek_besh/aurek_besh.otf') format('opentype');
}

@font-face {
  font-family: 'aurek_besh_narrow';
  src: url('./fonts/aurek_besh/aurek_besh_narrow.otf') format('opentype');
}

@font-face {
  font-family: 'clynese_hand';
  src: url('./fonts/clynese_hand/clynese_hand.otf') format('opentype');
}

@font-face {
  font-family: 'itc_avant_garde_gothic';
  src: url('./fonts/itc_avant_garde_gothic/itc_avant_garde_gothic_std_book.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'itc_avant_garde_gothic';
  src: url('./fonts/itc_avant_garde_gothic/itc_avant_garde_gothic_std_medium.otf')
    format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'orbitron';
  src: url('./fonts/orbitron/orbitron.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'orbitron';
  src: url('./fonts/orbitron/orbitron.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'orbitron';
  src: url('./fonts/orbitron/orbitron.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'orbitron';
  src: url('./fonts/orbitron/orbitron.otf') format('opentype');
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'orbitron';
}
